.banner {
  width: 75%;
  margin: 0 auto;
}

.banner_for_player {
  filter: blur(0);
}

/* .header-music__banner {
  padding-bottom: 179px;
  margin-top: 220px;
} */
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture-banner {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .banner {
    width: 85%;
  }
}

@media screen and (max-width: 699px) {
  .banner_for_player {
    filter: blur(4px);
  }

  .banner {
    min-width: 90%;
  }

  /* .header-music__banner {
    padding-bottom: 179px;
  } */
}

@media screen and (max-width: 699px) {
  .banner {
    width: 270px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
