.player {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content max-content;
  grid-template-areas:
    'cover controls  info-play    button-сlip  info-buttons change-buttons'
    'cover   ...    info-blocks   info-blocks       ...           ...     ';
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 30px;
}

.cover {
  grid-area: cover;
  margin-right: 20px;
  max-width: 164px;
  max-height: 164px;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}

.cover_is-invisible {
  display: none;
}

.icon_block_controls {
  grid-area: controls;
  margin-right: 20px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.treck-info {
  font-family: Inter, Helvetica, Arial, sans-serif;
  max-width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timer {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #fff;
  margin-left: 25px;
}

.icon_block_management {
  grid-area: change-buttons;
  display: flex;
  margin-left: 20px;
  align-self: flex-start;
}

.button {
  font-family: Inter, Helvetica, Arial, sans-serif;
  display: flex;
  box-shadow: 0 0 0 2px #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 6px 18px;
  cursor: pointer;
  outline: none;
  justify-content: center;
  margin-top: 2px;
}

.button_color_transparent {
  background-color: transparent;
  color: #fff;
  min-width: 135px;
  margin-left: 20px;
}

.button_is-invisible {
  display: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.icon_type_play {
  background-image: url('./icon-play.svg');
  padding-top: 5px;
}

.icon_type_pause {
  background-image: url('./icon-pause.svg');
  padding-top: 5px;
}

.icon_type_open {
  background-image: url('./icon-open.svg');
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-top: 5px;
}

.icon_type_close {
  background-image: url('./icon-close.svg');
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-top: 5px;
}

.info-block {
  color: #fff;
  padding-right: 10px;
  width: 100%;
}

.info-block_is-invisible {
  display: none;
}

.info-play {
  grid-area: info-play;
}

.button_block_info {
  grid-area: info-buttons;
  align-self: flex-start;
}

.info-blocks {
  grid-area: info-blocks;
  margin-top: 30px;
}

.info-block__title {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.info-block__text {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.info-block__list {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .player {
    grid-template-areas:
      'controls  info-play    info-play    button-сlip    info-buttons change-buttons'
      '  ...      cover      info-blocks    info-blocks        ...          ...      ';
  }

  .cover {
    max-width: 112px;
    max-height: 112px;
    margin-top: 30px;
  }

  .treck-info {
    font-size: 18px;
    line-height: 22px;
  }

  .info-block__title {
    font-size: 18px;
    line-height: 22px;
  }

  .info-block__text {
    font-size: 18px;
    line-height: 26px;
  }

  .info-block__item {
    font-size: 18px;
    line-height: 22px;
  }

  .timer {
    font-size: 18px;
    line-height: 22px;
  }

  .button {
    font-size: 15px;
    line-height: 18px;
  }

  .icon_type_play {
    width: 15px;
    height: 15px;
  }

  .icon_type_pause {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 699px) {
  .player {
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas:
      'controls    info-play     info-play      change-buttons'
      '  ...         cover         cover             ...      '
      '  ...       button-сlip   info-buttons        ...      '
      '  ...       info-blocks    info-blocks        ...      ';
  }

  .player-is-open {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .cover {
    margin: 0 auto 20px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
  }

  .treck-info {
    font-size: 14px;
    line-height: 19px;
  }

  .info-block__title {
    font-size: 14px;
    line-height: 19px;
  }

  .info-block__text {
    font-size: 14px;
    line-height: 19px;
    padding-right: 20px;
  }

  .info-block__item {
    font-size: 14px;
    line-height: 19px;
  }

  .timer {
    font-size: 14px;
    line-height: 19px;
  }

  .blocks {
    margin-bottom: 20px;
  }

  .button {
    font-size: 12px;
    line-height: 15px;
  }

  .button_color_transparent {
    min-width: 100%;
    margin-left: 0;
  }

  .info__play {
    grid-template-columns: 1fr;
  }

  .icon_type_play {
    width: 14px;
    height: 14px;
  }

  .icon_type_pause {
    width: 14px;
    height: 14px;
  }

  .info-play {
    margin-right: 0;
  }

  .icon_type_open {
    height: 16px;
  }

  .icon_type_close {
    height: 16px;
  }
}
