.player {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 20px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.treck-info {
  max-width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timer {
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  margin-left: 25px;
}

.seekbar {
  clear: both;
  cursor: pointer;
  padding: 0;
}
.seekbar .seekbar__wrap {
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  height: 2px;
}

.seekbar__buffer {
  background-color: #fff;
  height: 100%;
  width: 15%;
}

.seekbar__progress {
  background-color: #0474c0;
  margin-top: -5px;
  height: 100%;
  width: 15%;
}

.change-button {
  display: flex;
}

.button {
  background-color: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 8px 18px;
  min-width: 135px;
  cursor: pointer;
}

.button_is-invisible {
  display: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding-top: 5px;
  cursor: pointer;
}

.icon_type_play {
  background-image: url('./play.png');
  width: 20px;
  height: 16px;
}

.icon_type_pause {
  background-image: url('./pause.png');
  width: 16px;
  height: 16px;
}

.icon_type_open {
  background-image: url('./open.png');
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.icon_type_close {
  background-image: url('./close.png');
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-left: 20px;
}

.icon_is-invisible {
  display: none;
}

.info-block {
  color: #fff;
  max-height: 115px;
  overflow-y: scroll;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(243, 243, 243, 0.1); /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}

.info-block_is-invisible {
  display: none;
}

.info {
  margin-bottom: 30px;
}
.info__play {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 20px;
}

.info-block__title {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.info-block__text {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.info-block__list {
  list-style: none;
  padding: 0;
}

.info-block__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.info-block__item:hover {
  font-style: italic;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 3px; /* ширина для вертикального скролла */
  background-color: rgba(243, 243, 243, 0.1);
  border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(230, 230, 230, 0.3);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  height: 0;
}

::-webkit-scrollbar-button:vertical:end:increment {
  height: 0;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

@media screen and (max-width: 500px) {
  .info__play {
    grid-template-columns: max-content;
  }
}
