.player {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content max-content;
  grid-template-areas:
    'cover controls  info-play    button-сlip  info-buttons change-buttons'
    'cover   ...    info-blocks   info-blocks       ...           ...     ';
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 30px;
}

.cover {
  grid-area: cover;
  margin-right: 20px;
  max-width: 164px;
  max-height: 164px;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}

.cover_is-invisible {
  display: none;
}

.controls {
  grid-area: controls;
  margin-right: 20px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.treck-info {
  max-width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timer {
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #fff;
  margin-left: 25px;
}

.seekbar {
  clear: both;
  cursor: pointer;
  padding: 0;
}

.seekbar .seekbar__wrap {
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  height: 2px;
  width: 100%;
}

.seekbar__buffer {
  background-color: #0474c0;
  height: 100%;
  width: 0%;
}

.seekbar__progress {
  background-color: #fff;
  margin-top: -2px;
  height: 100%;
  width: 0%;
}

.change-buttons {
  display: flex;
  margin-left: 20px;
}

.button {
  display: flex;
  box-shadow: 0 0 0 2px #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 8px 18px;
  cursor: pointer;
  outline: none;
  justify-content: center;
}

.button_color_transparent {
  background-color: transparent;
  color: #fff;
  min-width: 135px;
  margin-left: 20px;
}

.button_color_white {
  grid-area: button-сlip;
  background-color: #fff;
  width: 87px;
  color: #1d1b1b;
  align-self: start;
  margin-left: 20px;
}

.button_color_white::before {
  display: inline-block;
  content: url('./play-black.svg');
  margin-right: 7px;
  height: 8px;
}

.button_is-invisible {
  display: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding-top: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.icon_type_play {
  background-image: url('./play.png');
}

.icon_type_pause {
  background-image: url('./pause.png');
}

.icon_type_open {
  background-image: url('./open.png');
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.icon_type_close {
  background-image: url('./close.png');
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-left: 20px;
}

.icon_is-invisible {
  display: none;
}

.info-block {
  color: #fff;
  max-height: 115px;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(243, 243, 243, 0.1); /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  margin-top: 30px;
  padding-right: 10px;
}

.info-block_is-invisible {
  display: none;
}

/* .info {
  margin-bottom: 30px;
} */

.info-play {
  grid-area: info-play;
}

.info-buttons {
  grid-area: info-buttons;
}

.info-blocks {
  grid-area: info-blocks;
}

.change-buttons {
  grid-area: change-buttons;
}

.info-block__title {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.info-block__text {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.info-block__list {
  list-style: none;
  padding: 0;
}

.info-block__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.info-block__item:hover {
  font-style: italic;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 3px; /* ширина для вертикального скролла */
  background-color: rgba(243, 243, 243, 0.1);
  border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(230, 230, 230, 0.3);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  height: 0;
}

::-webkit-scrollbar-button:vertical:end:increment {
  height: 0;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

@media screen and (max-width: 1200px) {
  .player {
    grid-template-areas:
      'controls  info-play    info-play    button-сlip    info-buttons change-buttons'
      '  ...      cover      info-blocks    info-blocks        ...          ...      ';
  }

  .cover {
    max-width: 112px;
    max-height: 112px;
    margin-top: 30px;
  }

  .treck-info {
    font-size: 18px;
    line-height: 22px;
  }

  .info-block__title {
    font-size: 18px;
    line-height: 22px;
  }

  .info-block__text {
    font-size: 18px;
    line-height: 26px;
  }

  .info-block__item {
    font-size: 18px;
    line-height: 22px;
  }

  .timer {
    font-size: 18px;
    line-height: 22px;
  }

  .button {
    font-size: 15px;
    line-height: 18px;
  }

  .icon_type_play {
    width: 18px;
    height: 15px;
  }

  .icon_type_pause {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 699px) {
  .player {
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas:
      'controls    info-play     info-play      change-buttons'
      '  ...         cover         cover             ...      '
      '  ...       button-сlip   info-buttons        ...      '
      '  ...       info-blocks    info-blocks        ...      ';
  }

  .cover {
    margin: 0 0 20px 0;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
  }

  .treck-info {
    font-size: 14px;
    line-height: 19px;
  }

  .info-block__title {
    font-size: 14px;
    line-height: 19px;
  }

  .info-block__text {
    font-size: 14px;
    line-height: 19px;
    padding-right: 20px;
  }

  .info-block__item {
    font-size: 14px;
    line-height: 19px;
  }

  .timer {
    font-size: 14px;
    line-height: 19px;
  }

  .blocks {
    margin-bottom: 20px;
  }

  .button {
    font-size: 12px;
    line-height: 15px;
  }

  .button_color_transparent {
    min-width: 100%;
    margin-left: 0;
  }

  .button_color_white {
    margin-left: 0;
    margin-right: 20px;
  }

  .info__play {
    grid-template-columns: 1fr;
  }

  .icon {
    height: 16px;
  }

  .icon_type_play {
    width: 14px;
    height: 14px;
  }

  .icon_type_pause {
    width: 14px;
    height: 14px;
  }

  .info-play {
    margin-right: 0;
  }
}
