.info-blocks-animation-enter {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.info-blocks-animation-exit {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideOutDown {
  0% {
    visibility: visible;
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideOutDown {
  0% {
    visibility: visible;
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
