/*.enter {
    opacity: 0;
    transform: scaleY(0);
    height: 0;
}

.enterActive {
    opacity: 1;
    height: 120px;
    transform: scaleY(1);
    transition: all 500ms ease-in;
}
*/

.info-blocks-animation-enter {
  opacity: 0;
  transform: scale(0.9);
  background: red;
  z-index: 99;
}

.info-blocks-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
  background: blue;
  z-index: 99;
}

.info-blocks-animation-enter-done {
  background: yellow;
  z-index: 99;
}
.info-blocks-animation-exit {
  opacity: 1;
  background: green;
  z-index: 99;
}
.info-blocks-animation-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  background: black;
  z-index: 99;
}
