.form {
  padding-bottom: 110px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  font-family: Inter, Helvetica, Arial, sans-serif;
}
.form__error {
  color: #ff0000;
}
.form__input {
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  max-width: 600px;
  min-height: 60px;
}
.form__ellipse {
  /* border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;  
  border-radius: 50%; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  font-family: inherit;
}
.form__check {
  margin-top: 43px;
  border-radius: 50%;
  position: relative;
}

.form__ellipse:checked + .form__span {
  background-color: #000;
}

.form__span {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #000;
  cursor: pointer;
}
.form__span:hover {
  transform: scale(1.4);
  transition-duration: 0.4s;
}

.form__button {
  box-shadow: 0 0 0 2px #000;
  border: none;
  border-radius: 30px;
  max-width: 600px;
  min-height: 60px;
  background: #fff;
  margin-top: 43px;
  cursor: pointer;
}
.form__button:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}
.form__link {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
.form__link:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
  font-size: 24px;
}
.form__text {
  display: inline;
  bottom: 8px;
  margin-left: 20px;
}
