.header-music {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.header-block {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  margin-bottom: 10px;
}

.header-block_mobile {
  display: none;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin-right: 0;
}
.header-music__button {
  font-size: 12px;
  line-height: 15px;
  background-color: inherit;
  align-self: flex-end;
  padding: 8px 20px 8px 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 2px #fff;
}

.header-block:last-child {
  margin: 0;
}
.header-block-ul {
  margin: 0;
  padding-left: 0;
}
.header-link {
  box-shadow: 0 0 0 2px #fff;
  border-radius: 30px;
}
.container {
  background-image: url('./header-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.container__header-music {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-top: 20px;
}
.menu {
  position: relative;
}
.menu__burger {
  background-image: url('./header-exit.png');
  width: 4px;
  height: 4px;
  background-repeat: no-repeat;
  padding: 10px;
  background-position: center;
  background-size: 80%;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .header-block_mobile {
    display: block;
    position: absolute;
    right: 0;
  }
  .header-link {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
  }
  .header-block-ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    right: 0;
  }
  .open {
    display: block;
    margin-top: 6px;
  }
}
