.header-music {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.header-block {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  margin-bottom: 10px;
}
.header-block_mobile {
  display: none;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin-right: 0;
}

.header-block:last-child {
  margin: 0;
}
.header-block-ul {
  margin: 0;
  padding-left: 0;
}
.header-link {
  border: 2px solid #ffffff;
  border-radius: 30px;
}
.container {
  background-image: url('./header-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.container__header-music {
  padding-bottom: 30px;
  padding-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .header-block_mobile {
    display: inline;
  }
}
