.header-music {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.header-music_for_player {
  filter: blur(0);
}
.banner {
  width: auto;
  margin-left: 20px;
}

.header-block {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  margin-bottom: 10px;
  outline: none;
}
.header-link:hover {
  color: #ffff00;
  transition-delay: 0.5ms;
  box-shadow: 0 0 0 2px yellow;
}

.header-block:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.header-block_mobile {
  display: none;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin-right: 0;
}

.header-music__button {
  font-size: 12px;
  line-height: 15px;
  background-color: inherit;
  align-self: flex-end;
  padding: 8px 20px 8px 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 2px #fff;
}

.header-block:last-child {
  margin: 0;
}
.header-block-ul {
  margin: 0;
  padding-left: 0;
}
.header-link {
  font-family: Inter, Helvetica, Arial, sans-serif;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 30px;
}

.header-link::after {
  content: ' ↗';
}
.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__header-music {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  z-index: 3;
}
.menu {
  position: relative;
}
.menu__burger {
  display: none;
}

@media screen and (max-width: 699px) {
  .header-music_for_player {
    filter: blur(4px);
  }
  .header-block_mobile {
    display: block;
    position: absolute;
    right: 0;
  }
  .header-link {
    font-size: 12px;
    line-height: 15px;
  }
  .header-block-ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    right: 0;
  }
  .header-block-ul__open {
    display: block;
    margin-top: 6px;
  }
  .menu__burger {
    display: block;
    width: 29px;
    margin-right: 20px;
  }
}
