.animation-enter {
  opacity: 0;
  transform: scale(0.9);
  background: red;
  z-index: 99;
}

.animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
  background: blue;
  z-index: 99;
}

.animation-enter-done {
  background: yellow;
  z-index: 99;
}
.animation-exit {
  opacity: 1;
  background: green;
  z-index: 99;
}
.animation-exit-done {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  background: black;
  z-index: 99;
}
