@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../Vendor/fonts/Inter/Inter-Regular-slnt=0.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../../Vendor/fonts/Inter/Inter-Medium-slnt=0.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  src: url('../../Vendor/fonts/Inter/Inter-Bold-slnt=0.ttf') format('truetype');
}

.app {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1440px;
  background-image: url('./header-photo.png');
  background-size: cover;
  background-attachment: fixed;
}
.page {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 110px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  bottom: 10px;
  z-index: 2;
}
