.app {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1440px;
  background: black;
}
.page {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 110px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  bottom: 10px;
}
