.info-block__item {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 16px;
}

.info-block__item:hover {
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .info-block__item {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 699px) {
  .info-block__item {
    font-size: 14px;
    line-height: 19px;
  }
}
