.section-tezis {
  font-family: Inter, Helvetica, Arial, sans-serif;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .section-text {
    font-size: 12px;
    line-height: 16px;
  }
}
